<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyApp</title>

    <!-- Foundation -->

    <link rel="stylesheet" type="text/css" href="/static/app/foundation.css">
    <link rel="stylesheet" type="text/css" href="/static/app/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="/static/app/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/app/app.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <!-- jQuery lib -->
    <script type="text/javascript" src="/static/app/jquery-2.1.3.js"></script>
    <!-- Foundation lib -->
    <script type="text/javascript" src="/static/app/foundation.min.js"></script>


<body>
    <div div class="sticky">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
        <li class="name">
          <h1><a href="/">MyApp</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

    <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
        {% if current_user.is_authenticated() %}
            <li>
                <a href="{{ url_for('user_profile_page') }}">
                {{ current_user.first_name or current_user.user_auth.username }}
                </a>
            </li>
            <li><a href="{{ url_for('user.logout') }}">Sign out</a></li>
            <li class="has-dropdown">
                <a href="#">...</a>
                <ul class="dropdown">
                    <li><a href="{{ url_for('member_page') }}">Member</a></li>
                    <li><a href="{{ url_for('admin_page') }}">Admin</a></li>
                    <li><a href="{{ url_for('user_profile_page') }}">User profile</a></li>
                    <li><a href="{{ url_for('images_page') }}">Images</a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="{{ url_for('user.login') }}">Sign in</a></li>
            <li><a href="{{ url_for('user.register') }}">Register</a></li>
        {% endif %}
    </ul>
    </section>
    </nav>
    </div>

    <div id="main-div" >
        {# One-time system messages called Flash messages #}
        {% block flash_messages %}
            {%- with messages = get_flashed_messages(with_categories=true) -%}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category=='error' %}
                            {% set category='danger' %}
                        {% endif %}
                        <div data-alert class="alert-box">{{ message|safe }}</div>
                    {% endfor %}
                {% endif %}
            {%- endwith %}
        {% endblock %}

        <div class="panel with-margins col-centered">
            {% block main %}
            {% endblock %}
        </div>
    </div>
    <br/>
    <div class="footer">
        &copy; 2015 MyApp [beta]
    </div>
    <script>
      $(document).foundation();
    </script>
</body>
</html>
